.text-field {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: black;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Cooper Black";
}

.button {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-color: black;
}

.label-verde-oscuro {
    -fx-text-fill: darkgreen;
}